  @import '../../generalStyles/mixins';
  @import '../../generalStyles/colors';

 .Catalog {
  font-family: "Mont", Arial, Helvetica, sans-serif;
  max-width: 1200px;
  min-width: 320px;
  padding: 0 16px;

  @include onTablet {
    padding: 0 24px;
  }

  @include onDesktop {
    padding: 0 32px;
  }

  &__title {
    font-family: 'Mont';
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 8px;
  }

  &__items-count {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $color-secondary;

    margin-bottom: 40px;
  }
 }


