@import '../../../../generalStyles/colors';

.product-info {
  &__actions {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin-bottom: 56px;

    @media (max-width: 1200px) {
      max-width: 237px;
    }


    @media (max-width: 640px) {
      margin: 0 auto;

      max-width: 100%;
    }

    &-product-id {
      font-family: 'Mont';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      text-align: right;

      color: $color__header-link;
    }

    &-colors {
      padding-bottom: 24px;

      max-width: 320px;
      border-bottom: 1px solid #E2E6E9;

      @media (max-width: 640px) {
        max-width: 100%;
      }

      &-header {
        margin-bottom: 8px;

        font-family: 'Mont';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;

        color: $color__header-link;
      }

      &-list {
        display: flex;
        flex-direction: row;
        gap: 8px;
      }

      &-link {
        padding: 2px;

        width: 30px;
        height: 30px;

        border: 1px solid #C4C4C4;
        border-radius: 50%;

        &--active {
          border: 1px solid $color__header-active-link;
        }
      }

      &-item {
        width: 100%;
        height: 100%;

        border-radius: 50%;
      }
    }

    &-capacity {
      margin-top: 24px;
      padding-bottom: 24px;

      max-width: 320px;
      border-bottom: 1px solid #E2E6E9;

      @media (max-width: 640px) {
        max-width: 100%;
      }

      &-header {
        margin-bottom: 8px;

        font-family: 'Mont';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;

        color: $color__header-link;
      }

      &-list {
        display: flex;
        flex-direction: row;
        gap: 8px;
      }

      &-link {
        width: 56px;
        height: 32px;


        text-decoration: none;
        text-align: center;
        color: #313237;
        line-height: 32px;
        font-family: 'Mont';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;

        border: 1px solid #B4BDC3;


        &--active {
          background-color: #313237;
          color: white;
        }
      }

      &-item {
        width: 100%;
        height: 100%;

        vertical-align: center;
      }
    }
  }
}
