@import '../../../../generalStyles/colors';

.product-info {
  &__actions {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin-bottom: 56px;

    @media (max-width: 1200px) {
      max-width: 237px;
    }


    @media (max-width: 640px) {
      margin: 0 auto;

      max-width: 100%;
    }

    &-product-id {
      font-family: 'Mont';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      text-align: right;

      color: $color__header-link;
    }
  }
}
