@import '../../generalStyles/mixins';
@import '../../generalStyles/colors';

.categories {
  padding: 0 16px;

  @include onTablet {
    padding: 0 24px;
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 800;
    font-size: 22px;
    color: $color__header-active-link;

    @include onTablet {
      font-size: 32px;
    }
  }
}
