$color__header-link: #89939A;
$color__header-active-link: #313237;

$color-white: #fff;
$color-hover-bg: #FAFBFC;
$color-elements: #E2E6E9;
$color-icons: #B4BDC3;

$color-green: #27AE60;
$color-red: #EB5757;

$color-primary: #313237;
$color-secondary: #89939a;
