$primary-c:  #313237;
 $secondary-c: #89939a;
 $green-c: #27ae60;
 $red-c: #eb5757;
 $elements-c: #e2e6e9;

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

.pagination-container {
  display: flex;
  justify-content: center;


  margin-bottom: 64px;

  @include onTablet {
    margin-bottom: 40px;
  }
}
