.about {
  max-width: 100%;
  text-align: justify;
  margin-bottom: 56px;

  @media (min-width: 640px) {
    margin-bottom: 64px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 80px;
  }


  &__header {
    padding-bottom: 16px;

    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 31px;

    color: #313237;

    border-bottom: 1px solid #E2E6E9;
  }

  &__title {
    margin-bottom: 16px;

    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;

    color: #313237;
  }

  &__description-text {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: #89939A;
  }

  &__section {
    margin-top: 32px;
  }
}
