@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";

@import '../../generalStyles/mixins.scss';

.phone-slider {
  box-sizing: border-box;
  position: relative;

  & .slick-arrow {
    position: absolute;
    top: -60px;
    right: -22px;
    width: 32px;
    height: 32px;
    border: 1px solid #B4BDC4;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      border: 1px solid #313237;
    }
  }

  & .slick-prev {
    background-image: url('../../img/arrow-left.svg');
    left: unset;
    right: 70px;
  }

  & .slick-next {
    right: 22px;

    background-image: url('../../img/arrow-right.svg');
  }

  & .slick-disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  & .slick-prev::before {
    content: '';
    background-image: url('../../img/banner-prev.svg');
  }

  & .slick-next::before {
    content: '';
    background-image: url('../../img/banner-next.svg');
  }

  & .container__width {
    margin: 0;
  }

  & .product-card {
    transition: box-shadow 0.3s ease-in-out;
    max-width: 212px;

    @include onTablet {
      max-width: 237px;
    }

    @include onDesktop {
      max-width: 272px;

      margin: 0;
    }

    &:hover {
      box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
    }
  }
}
