@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";

@import '../../generalStyles/mixins.scss';
@import '../../generalStyles/colors.scss';

.phone-slider {
  box-sizing: border-box;
  position: relative;

  & .slick-arrow {
    position: absolute;
    top: -60px;
    right: -22px;
    width: 32px;
    height: 32px;
    border: 1px solid #B4BDC4;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      border: 1px solid $color__header-active-link;
    }
  }

  & .slick-prev {
    background-image: url('../../img/arrow-left.svg');
    left: unset;
    right: 70px;
  }

  & .slick-next {
    right: 22px;

    background-image: url('../../img/arrow-right.svg');
  }

  & .slick-disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  & .slick-prev::before {
    content: '';
  }

  & .slick-next::before {
    content: '';
  }

  & .slick-slide div {
    margin-right: 15px;
  }
}
