@import '../../generalStyles/colors';

.product-info {
  margin-bottom: 80px;

  padding: 0 16px;

  @media (max-width: 1200px) {
    padding: 0 25px;
  }

  @media (max-width: 640px) {
    padding: 0 17px;
  }

  &__header {
    margin-bottom: 40px;

    font-family: 'Mont', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;


    @media (max-width: 640px) {
      font-size: 22px;
    }
  }
}
