@import '../../generalStyles/mixins.scss';
@import '../../generalStyles/colors.scss';

.brand-new-models {
  padding-left: 16px;
  margin-bottom: 56px;

  @include onTablet {
    padding-left: 24px;
    margin-bottom: 64px;
  }

  &__title {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: $color__header-active-link;
    margin-bottom: 24px;
    width: 50%;

    @include onTablet {
      width: 100%;
      font-size: 32px;
    }
  }

  & .product-card__price--crossed {
    display: none;
  }
}

