@import '../../generalStyles/mixins.scss';

.hot-prices {
  padding: 0 16px;
  margin-bottom: 56px;

  @include onTablet {
    padding: 0 24px;
    margin-bottom: 64px;
  }

  &__title {
    font-family: 'Mont', sans-serif;
    font-weight: 800;
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: #313237;
    margin-bottom: 24px;
    width: 50%;

    @include onTablet {
      width: 100%;
      font-size: 32px;
    }
  }
}

