@import '../../generalStyles/mixins.scss';
@import '../../generalStyles/colors.scss';
@import '../../generalStyles/sizes.scss';

.nav {
  font-family: 'Mont', sans-serif;

  @include onTablet {
    display: block;
    height: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    height: 100%;

    @include onTablet {
      flex-direction: row;
    }
  }

  &__item {
    height: 100%;
  }

  &__link {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    color: $color__header-link;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.04em;

    transition: color 0.3s ease;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      height: 3px;
      width: 100%;

      transition: background-color 0.3s ease;
    }

    &--active {
      color: $color__header-active-link;

      &::after {
        background: $color__header-active-link;
      }
    }

    &:hover {
      color: $color__header-active-link;
    }
  }
}

.nav__icon {
  width: $header-height-mobile;
  height: $header-height-mobile;
}
